<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% block content %}
    <form action="/register" method="post">
        {%csrf_token%}
        <label for="full_name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="full_name" name="full_name" value="{{full_name}}"><br>

        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" value="{{username}} "placeholder=" username"><br>

        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" id="email" value="{{email}} "placeholder=" email"><br>

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" value="{{password}}" placeholder=" Password"><br>

        <label for="confirm_password" class="form-label">Password</label>
        <input type="confirm_password" name="confirm_password" id="confirm_password" value="{{confirm_password}}" placeholder=" Confirm Password"><br>
        <select name="role" id="role">
            <option value="doctor">Doctor</option>
            <option value="patient">Patient</option>
        </select><br>
        <input type="submit">
    </form>
    {%for i in messages%}
    {{i}}
    {%endfor%}
    {% endblock  %}
</body>
</html>